.onboardingCont {
  height: 100vh;
  width: 100vw;
  background-image: url(https://images.unsplash.com/photo-1517299321609-52687d1bc55a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=dfd0563c4932e5ccb9f4265a525c1156&auto=format&fit=crop&w=2550&q=80);
  background-size: cover;
  overflow: hidden;
}

.gridCont {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  /* height: 100vh; */
  background-color: none;
  padding: 80px;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
}

.gridCont h3 {
  font-size: 12px;
  text-transform: uppercase;
  font-family: 'PT Mono';
  border-bottom: 1px solid #eee;
  padding: 10px;
  letter-spacing: 1px;
}

.gridItem {
  background-color: #fff;
  box-shadow: 1px 1px 1px #777;
  padding: 20px;
  font-size: 20px;
  text-align: center;
}

.item1 {
  grid-row-start: 1;
  grid-row-end: 3;
}

.gridItem button {
  padding: 7px;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: 'PT Mono';
  border-radius: 5px;
  border: 1px solid #eee;
  box-shadow: 1px 1px 0px #777;
  width: 80%;
  color: #000;
  transition: all 0.5s ease-in-out;
  margin-top: 8%;
}

.gridItem button:hover {
  background-color: #414141;
  color: #fff;
  box-shadow: 1px 1px 0px #fff;
  cursor: crosshair;
}

.gridItem .fbox {
  display: inline-flex;
  margin: 5% 0% 5% 0%;
  width: 100%;
}

.gridItem label {
  background-color: #eee;
  padding: 7px;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: 'PT Mono';
  border-radius: 5px 0px 0px 5px;
  border-right: 1px solid #000;
  margin-bottom: 1%;
  position: relative;
  width: 100%;
}

.gridItem input {
  background-color: #eee;
  font-size: 10px;
  border-radius: 0px 5px 5px 0px;
  padding: 7px;
  margin-bottom: 1%;
  position: relative;
  width: 100%;
  font-family: 'PT Mono';
}

.gridItem .instructions {
  font-size: 11px;
  text-transform: capitalize;
  text-align: justify;
  width: 90%;
  padding: 5%;
  background-color: #eee;
  line-height: 150%;
  font-family: 'PT Mono';
  border-radius: 5px;
}

.gridItem ul {
  list-style: none;
  padding-left: 0px;
}

.gridItem li {
  list-style: none;
  padding: none;
  margin: none;
  background-color: #fff;
  font-size: 10px;
  font-family: 'PT Mono';
  text-transform: uppercase;
  letter-spacing: 1px;
}

.item1 li button {
  width: 15px;
  height: 15px;
  padding: 0px;
  margin: 0px;
  padding: 2px;
  border-radius: 0px;
  border: none;
  text-align: center;
  box-shadow: none;
  background-color: none!important;
}

.gridItem li button:hover {
  background-color: none!important;
}

.gridItem .listTitle {
  text-align: left;
  font-size: 12px;
  font-family: 'PT Mono';
  border-bottom: 1px solid #eee;
  padding: 10px;
}

.gridItem .lists {
  overflow: auto;
  position: relative;
  margin-top: 2vh;
  max-height: 50vh;
}

.gridItem .lists::-webkit-scrollbar {
  width: 5px;
}

.gridItem .lists::-webkit-scrollbar-track {
  background: #fff; 
}

.gridItem .lists::-webkit-scrollbar-thumb {
  background: #eee; 
}