.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-evenly;
}

.flex-item {
  background: none;
  box-shadow: 1px 1px 1px #777;
  width: 250px;
  height: 250px;
  margin: 2%;
  text-align: center;
  /* width: 25%; */
  box-sizing: border-box;
  border-radius: 50%;
}

.left {
  width: 250px;
  height: 250px;
  background-color: #777;
  background-blend-mode: multiply;
  position: relative;
  background-size: cover;
  float: left;
  font-size: 15px;
  font-family: 'PT Mono';
  color: #fff;
  border-radius: 50%;
}

.left .text {
  position: relative;
  margin-top: 100px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 5px;
  border-bottom: 1px solid #fff;
}