.lds-circle {
    display: inline-block;
    width: 51px;
    height: 51px;
    margin: 6px;
    border-radius: 50%;
    background: #fff;
    animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  @keyframes lds-circle {
    0%, 100% {
      animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
    }
    0% {
      transform: rotateY(0deg);
    }
    50% {
      transform: rotateY(1800deg);
      animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
    }
    100% {
      transform: rotateY(3600deg);
    }
  }
  .hide{
    display: none;
  }
  input {
    padding: 0px;
    border: 0px;
    box-shadow: none;
    border-radius: 5px;
    width: 100%;
  }

.playlistHeaders {
  width: 100%;
  border-bottom: 5px solid #eee;
  height: 4%;
  padding: 10px;
  text-align: left;
  padding-left: 5%;
  font-family: 'PT Mono';
  margin-top: 5%;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.playlistHeaders button {
  padding: 8px;
  border-radius: 5px;
  font-family: 'PT Mono';
  box-shadow: none;
  background-color: #fff;
  text-align: right;
  text-transform: uppercase;
}

.songCont {
  /* background-color: red; */
}

.playlistCont {
  margin-top: 5%;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.songTable {
  text-align: center;
  padding-top: 10px;
}

.songTable .artistSong {
  padding: 10px;
  width: 270px;
  text-align: justify;
  font-family: 'PT Mono';
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-left: 10px;
}

.songTable .button {
  width: 150px;
  text-align: right;
}

.songTable button {
  padding: 8px;
  border-radius: 5px;
  font-family: 'PT Mono';
  box-shadow: none;
  background-color: #fff;
}

.songTable h5 {
  font-family: 'PT Mono';
}

.playlistCont .song-container {
  width: 80%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.playlistCont #seek {
  width: 400%;
}